# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe
# Precompiled Headers
*.gch
*.pch
*.ilk
*.pdb
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.sdf
# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
